/*全体:*/

  *{margin:0px;
    padding:0px}

  *{color:red:}  

  body{background-image: url(画像/背景2.jpg)}


  /*ヘッダー部分*/

  header{height:120px;
         display:flex;
         width:100%;
         }

         .phoone-box {
         	display: none;
         	margin: 0 auto 0 auto;
         	max-width: 960px;
          text-align: center;
          visibility: hidden;
          height: 0px;

         }

         .phoone-box ul{
         	margin: 0;
         	padding: 0;
         	list-style-type: none;
          height:0px;
         }

         .phoone-box li{
         	padding: 8px 0 8px 0;
         	color: #20567d;
         	border-bottom: 1px solid #ffffff;
          background-color:rgba(192, 192, 192,0.1);
         }

         .phoone-box li a{
           color:silver;
         }







  .inbox1{width:30%;
          }

  .inbox2{width:40%;
          text-align: center;
          color:silver;
          }

  .inbox3{width:30%;
        }

  .menu-zone{width:100%;
             margin-bottom:50px;
            }

  .menu {display: flex;
         height: 2rem;
         margin: 0 auto;
         width: 80%;
        }

   .menu > li {/*親階層のみ幅を25%にする*/
               width: 25%;
             }
   /*全てのリスト・リンク共通*/
   .menu li {
             list-style: none;
              position: relative;
             }

   .menu li a { background-color:rgba(192, 192, 192,0.2);
                 border-right: 1px solid #eee;
                 border-left: 1px solid #eee;
                 margin-left: 10px;
                 color: #fff;
                 display: block;
                 height: 2rem;
                 line-height: 2rem;
                 text-align: center;
                 text-decoration: none;
                 width: 100%;

             }

  .menu li a:hover{background-color:rgba(192, 192, 192,0.6)}


             /*子階層以降共通*/
  .menu li li {
      height: 0;
      overflow: hidden;
      transition: 0s;
  }
  .menu li li a {
      border-top: 1px solid #eee;
  }
  .menu li:hover > ul > li {
      height: 2rem;
      overflow:visible;

  }

  /*真ん中*/

  body{width:100%}


  .img-wrap {
    width: 80%;
    position: relative;
    margin:100px auto;
    height: 500px;
  }

  .img-wrap img {
    width:100%;
    height: 100%;
    position: absolute;
  }




  .massage-box{display: flex;
  width: 100%}

  .inbox4{width:10%;
         }



  .me-box{margin-top:80px;
               width:80%;
               height:300px;
               color:white;
               background-color:rgba(192, 192, 192,0.2);
             }

  .msg {
       opacity: 0;
       transition: all .5s ease;


       }


  .msg-in {
   transform: translate(0, 100px);
  }


  .msg.show {
    opacity: 4;
    transform: none;
    }

  #mozi-change{height:50px;}

  .visible{visibility: hidden;}


  .me-box a{text-align: center;}


  .inbox5{width:10%;

            }

  .twitter{width:90%;
          height:100%;
          margin-top:100px;
          display:flex;
          margin-left: 20px}

  .introduce{width:70%;
    position:relative;
  margin-bottom:30px;
  padding:20px 10px;
  border:4px double silver;
  border-radius:16px;
  background:white;
  margin-left: 20px;
  overflow-y:scroll;
  height:450px}

  .title{margin-top: 20px;}

  .face{width:30%}

  .inbox6{width:30%;
          }

  .me-box p {text-align: center;}

  .me-box h2{text-align: center;}


  .rakket-box{margin-top:30px;
              text-align: center;}



  .inbox6{width:30%;
          }

  .gaiyou{width:100%;
          display:flex;
          height:200px;
          color:silver;
          margin-top:20px}

  .gaiyou div{margin-left:8px}

  .gaiyou ul{margin-left: 35px;
            margin-top:10px}


  .team{
        width:33%}

  .plactice-day{
        width:33%}

  .plactice-place{
        width: 33%
  }

  .borer-line{border-bottom:5px solid silver
                    }


  .mail{
        border:5px solid silver;
        border-radius: 10px;
        background-color:rgba(192, 192, 192,0.5);
        height:70px;
        width: 50%;
        margin:60px auto;
        text-align: center;}


  .mail:active{position: relative;
               top:10px}

  .mail:hover{background-color:rgba(192, 192, 192,0.8);}

  .mail a:visited{color:black;}

  footer{height:150px;
         display:flex;
         margin-top: 150px;
          width:100%;
          }


  .inbox7{width:100%;
          display:block;
          text-align: center;
          color:rgba(192, 192, 192,0.8);
            }



  .count{list-style:none}

  .count li{margin-top:5px;
            color:silver}


  #hiduke{margin-top:10px}


  .introduce h2{text-align: center;}
